Debug/
*.ioc
*.elf
*.hex
*.list
*.map
*.o
*.su
camera/camera.ioc
camera/Debug/camera.elf
camera/Debug/camera.hex
camera/Debug/camera.list
camera/Debug/camera.map
camera/Debug/Src/main.o
camera/Debug/Src/main.su
